.banner {
  position: relative;
  background-size: cover;
  object-fit: contain;
  background-position: center;
  color: wheat;
}

.banner-contents {
  padding: 5rem 1rem 3rem;
}

.banner-title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.banner-buttons {
  padding-top: 2rem;
}

.banner-button {
  cursor: pointer;
  outline: none;
  border: none;
  color: wheat;
  margin-right: 1rem;
  border-radius: 0.2vw;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(50, 50, 50, 0.5);
}

.banner-button:hover {
  color: black;
  background-color: wheat;
  transition: all 0.25s;
}

.banner-description {
  line-height: 1.5;
  padding-top: 2rem;
  font-size: 1.25rem;
  max-width: 50%;
  letter-spacing: 1px;
}

@media (max-width: 700px) {
  .banner-contents {
    padding: 5rem 1rem 2rem;
  }

  .banner-title {
    font-size: 2.8rem;
    font-weight: 800;
    letter-spacing: 3px;
  }

  .banner-buttons {
    padding-top: 1rem;
  }

  .banner-button {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  .banner-description {
    font-size: 1.2rem;
    max-width: 90%;
  }
}

@media (max-width: 450px) {
  .banner-title {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0px;
  }

  .banner-buttons {
    padding-top: 0.8rem;
  }

  .banner-button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  .banner-description {
    font-size: 1rem;
    max-width: 100%;
    font-weight: 400;
    line-height: normal;
  }
}
